#file-chosen {
  margin-left: 0.3rem;
  font-family: sans-serif;
}

.file-input {
  position: absolute;
  opacity: 0;
}

.btn {
  background: #275A53;
  color: #ffff;
  width: 130px;
  height: 45px;
}

.btn1{
  position:fixed;
  bottom: 10px;
  left: 10px;
text-align:center;
}